body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #d0d0d0;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: left;
  }
  
  .formula-container {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .formula {
    min-width: 150px;
    min-height: 100px;
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    background: #f9f9f9;
    transition: box-shadow 0.3s;
    font-size: 1.1em;
  }
  
  .equation {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background: #e7e7e7;
    border-radius: 4px;
  }
  
  h1 {
    color: #333;
    margin-top: 0;
  }
  
  .spacer {
    align-items:flex-end;
    align-content: flex-end;
    text-align-last: center;
    text-size-adjust:inherit;

  }

  .end-text{
    color: #777;
    text-align:end;
    max-width: 99.3%;

  }
  
  a.footer-link{
    color: #777;
  }


  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate(-25px, 25px); /* Start from bottom-left */
    }
    to {
      opacity: 1;
      transform: translate(-10, -10); /* End at the actual position */
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translate(-10, 10);
    }
    to {
      opacity: 0;
      transform: translate(-20px, 20px); /* Move back to bottom-left as it fades out */
    }
  }

  .popup {
    position: absolute;
    z-index: 100;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 200px; /* Adjust as needed */
    opacity: 0; /* Start invisible */
    display: none; /* Ensure it does not take space initially */
    transition: opacity 0.5s, transform 0.5s; /* Smooth transition for opacity and transform */
  }
  
  .fade-in {
    animation: fadeIn 0.5s ease-out forwards; /* Ensure animation-fill-mode is forwards */
  }
  
  .fade-out {
    animation: fadeOut 0.5s ease-out forwards;
  }
  
  
  .popup-content {
    color: #333;
    text-align: center;
    font-size: 14px;
  }
